.resume {
    width: 566.6px;
    height: 733.3px;
    background-color: white;
    justify-self: center;
    margin-right: 150px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
}

.sectionTitle {
    border-bottom: black solid 1.5px;
}

.name {
    font-weight: bold;
}

h3 {
    margin: 0;
}

p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.personalInfo {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}